<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="projectSuite">

    <!--test name="registerUser">
        <classes>
            <class name="testscripts.RegisterAsUserTest">
                <methods>
                    <include name="registerUserTest"/>
                </methods>
            </class>
            <class name = "testscripts.ActivateTest">
                <methods>
                    <include name="activateAccountTest"/>
                </methods>
            </class>
            <class name = "testscripts.LoginTest">
                <methods>
                    <exclude name="loggingIn"/>
                </methods>
            </class>
        </classes>
    </test-->
    <test name="registerMedia">
       <classes>
           <class name="testscripts.RegisterAsMediaTest">
               <methods>
                   <include name="registerMediaTest"/>
               </methods>
           </class>
           <class name = "testscripts.ActivateTest">
               <methods>
                   <include name="activateAccountTest"/>
               </methods>
           </class>
           <class name = "testscripts.LoginTest">
               <methods>
                   <include name="loggingIn"/>
               </methods>
           </class>
           <class name = "testscripts.UploadVideoTest">
               <methods>
                   <include name="uploadVideo"/>
               </methods>
           </class>
       </classes>
   </test>
    <!--test name="registerEditor">
       <classes>
           <class name="testscripts.RegisterAsEditorTest">
               <methods>
                   <include name="registerEditorTest"/>
               </methods>
           </class>
           <class name = "testscripts.ActivateTest">
               <methods>
                   <exclude name="activateAccountTest"/>
               </methods>
           </class>
           <class name = "testscripts.LoginTest">
               <methods>
                   <exclude name="loggingIn"/>
               </methods>
           </class>
       </classes>
   </test>
    <test name="registerCityJournalist">
        <classes>
            <class name="testscripts.RegisterAsCityJournalistTest">
                <methods>
                    <include name="registerCityJournalistTest"/>
                </methods>
            </class>
            <class name = "testscripts.ActivateTest">
                <methods>
                    <include name="activateAccountTest"/>
                </methods>
            </class>
            <class name = "testscripts.LoginTest">
                <methods>
                    <include name="loggingIn"/>
                </methods>
            </class>
            <class name = "testscripts.UploadVideoTest">
                <methods>
                    <include name="uploadVideo"/>
                </methods>
            </class>

        </classes>
    </test-->
</suite>

